<!DOCTYPE html>

{% load static i18n %}

<html lang="en">
<head  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# image: http://ogp.me/ns/image#">

    {% block meta %}
        
        {% include 'snippets/meta_default.html' %}
        
        <meta name="description" content="বাংলা মজার মিম এর দুনিয়ায় আপনাকে স্বাগতম। প্রতিদিন নতুন নতুন মজাতে মেতে উঠুন নয়মজাতে এবং খুঁজে নিন আপনার পছন্দের মিম অসংখ্য হাসির বিভাগ থেকে। কিংবা নিজেই আপনার তৈরি ব্যাঙ্গত্বক ছবি এবং দুষ্টু হাসির মিম প্রদান করুন এবং অন্যদের সেই মজা নিতে দিন!">
        <meta name="keywords" content="নয়মজা, নয়, মজা, খুশি, হাসি, ফান, মেম, মিম, মীম, ছবি, বাংলা ফান, জোকস, ১৮+, হাসির সাইট, হট, সেক্স, মেয়ে, দেশী ভাবী, ভাবি, দুষ্টু, fun, bangla fun, smile, hot, meme, sexy jokes, jokes, 18+ bangla, best bangla, hot jokes, desi, deshi, funny meme, bangla meme, bengali fun, bengali meme, bangla site, bengali site, {% block keyword %}{% endblock %}">
        
        <meta name="author" content="vimmaniac.com">
        <meta property="fb:app_id" content="1659905954049233" />
        
        <meta property="og:title" content="{% block og_title %}বাংলার দেশী মিম - www.9moja.com{% endblock %}" />
        <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
        <meta property="og:url" content="{% block og_url %}{{ request.scheme }}://{{request.get_host}}{% endblock %}" />
        <meta property="og:image" content="{% block og_img %}{% static 'main_app/img/logo-183x80.png' %}{% endblock %}" />
        <meta property="og:site_name" content="{% block og_site_name %}নয়মজা{% endblock %}" />
        <meta property="og:description" content="{% block og_description %}প্রতিদিন নতুন নতুন মজাতে মেতে উঠুন নয়মজাতে এবং খুঁজে নিন আপনার পছন্দের মিম অসংখ্য হাসির বিভাগ থেকে। কিংবা নিজেই আপনার তৈরি ব্যাঙ্গত্বক ছবি এবং দুষ্টু হাসির মিম প্রদান করুন এবং অন্যদের সেই মজা নিতে দিন{% endblock %}" />
        
        <meta property="og:locale" content="bn_BD" />
        <meta property="og:locale:alternate" content="en_US" />

        <meta name="google-site-verification" content="4rOiYZpo6TYMbfw4nwjZfWeFsQS46BqajPKQgHi2YCE" />
    {% endblock %}
    
    
    {% block extra_meta %}{% endblock %}
    
    
    {% block google_analytics %}
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111548289-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-111548289-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->

    {% endblock %}
    
    
    {% block google_tag_manager %}{% endblock %}
    
    
    <title>{% block title %}{% trans "বাংলার দেশী মিমের ভাণ্ডার - নয়মজা" %}{% endblock title %}</title>
    
    
    <link rel="shortcut icon" href="{% static 'main_app/img/favicon.ico' %}">
    <link rel="icon" type="image/png" href="{% static 'main_app/img/favicon-64x64.png' %}"/>
    
    
    {% block css %}
        
        <link rel="stylesheet" href="{% static 'main_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main_app/css/font-awesome.min.css' %}">
        
        <link rel="stylesheet" href="{% static 'main_app/css/custom.css' %}">
    {% endblock %}
    
    <script src="{% static 'main_app/js/jquery-3.2.1.min.js' %}"></script>
    
    {% block extra_css %}{% endblock %}


</head>
<body class="{% block body_class %}{% endblock body_class %}" {% block body_attr %}{% endblock body_attr %}>


{% block header %}
    <header>
        <div class="navbar-dark bg-dark">
            <div class="container">
                <nav class="navbar navbar-expand-lg" id="top_category_nav">
                    <div class="collapse navbar-collapse d-block">
                        <ul class="navbar-nav mr-auto categories">
                            
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'main_app:index' %}">{% trans "মূল পাতা" %} <span class="sr-only">
                                    (current)</span></a>
                            </li>
                            
                            {# hcp = homepage context processor #}
                            {% for cat in hcp_categories %}
                                
                                {% if forloop.counter < hcp_limit %}
                                    <li class="nav-item">
                                        <a href="{{ cat.get_absolute_url }}" class="nav-link">{{ cat.name }}</a>
                                    </li>
                                {% elif forloop.counter == hcp_limit %}
                                    <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-hover="target">{% trans "আরও বিভাগ" %}</a>
                                    <div class="dropdown-menu" data-hover-show="result">
                                {% endif %}
                            
                            {% if forloop.counter >= hcp_limit %}
                                <a class="dropdown-item" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                            {% endif %}
                            {% if forloop.last %}
                                </div>
                                </li>
                            {% endif %}
                            {% endfor %}
                        
                        
                        </ul>
                        <ul class="navbar-nav top-social-ul">
                            
                            {% comment %}
                            {# social links will available later #}
                            {% for s in hcp_socials %}
                                <li class="nav-item active">
                                    <a href="#" class="btn btn-outline-success"><i class="{{ s }}"></i></a>
                                </li>
                            {% endfor %}{% endcomment %}
                            
                            <li class="nav-item active">
                                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'main_app:search' %}">
                                    
                                    <input
                                            class="form-control mr-sm-2"
                                            type="search"
                                            name="q"
                                            placeholder="{% trans "খুঁজুন" %}"
                                            aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0 top-search-btn" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    
                    </div>
                </nav>
            </div>
        </div>
        
        <div class="navbar-light bg-danger">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#collapsible_navbar" aria-controls="collapsible_navbar"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsible_navbar">
                        <div class="w-100">
                            <div class="navbar-nav">
                                <a class="navbar-brand mr-auto" href="{% url 'main_app:index' %}">
                                    <img src="{% static 'main_app/img/logo-183x80.png' %}" alt="logo">
                                    {#<h3 class="mb-0" style="line-height: 1">{% trans "লোগো" %}</h3>#}
                                </a>
                                <ul class="nav navbar-nav">
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link px-lg-2 text-white"
                                           href="{% url 'main_app:best_meme' %}">{% trans 'জনপ্রিয় মিম' %}</a>
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link px-lg-2 text-white"
                                           href="{% url 'main_app:popular_categories' %}">{% trans 'জনপ্রিয় বিভাগ' %}</a>
                                    </li>
                                    {% if user.is_authenticated %}
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link px-lg-2 text-white"
                                               href="{% url 'dashboard:home' %}">{% trans 'ড্যাশবোর্ড' %}</a>
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link px-lg-2 text-white"
                                               href="{% url 'logout' %}">{% trans 'লগআউট' %}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link px-lg-2 text-white"
                                               href="{% url 'login' %}">{% trans 'লগইন' %}</a>
                                        </li>
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link px-lg-2 text-white"
                                               href="{% url 'signup' %}">{% trans 'সাইন-আপ' %}</a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item d-flex align-items-center mb-3 mb-lg-0">
                                        <a class="nav-link btn btn-success py-1 px-2 text-white btn-sm"
                                           href="{% url 'dashboard:home' %}">{% trans '+ পোস্ট করুন' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}

<div id="main_container">
    {% block main_container %}{% endblock %}
</div>


{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock %}


{% block js %}
    
    <script src="{% static 'main_app/js/popper.min.js' %}"></script>
    <script src="{% static 'main_app/js/bootstrap.min.js' %}"></script>

{% endblock %}


{% block extra_js %}{% endblock %}


</body>
</html>