<!DOCTYPE html>

{% load static i18n %}

<html lang="en">
<head>
    
    
    {% block meta %}
        
        {% include 'snippets/meta_default.html' %}
    
    {% endblock %}
    
    
    {% block extra_meta %}{% endblock %}
    
    
    {% block google_analytics %}{% endblock %}
    
    
    {% block google_tag_manager %}{% endblock %}
    
    
    <title>{% block title %}{% trans "নয় মজা" %}{% endblock title %}</title>
    
    
    {#    <link rel="shortcut icon" href="{% static 'main_app/img/favicon.ico' %}">#}
    
    
    {% block css %}
        
        <link rel="stylesheet" href="{% static 'main_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main_app/css/font-awesome.min.css' %}">
        
        <link rel="stylesheet" href="{% static 'main_app/css/custom.css' %}">
    {% endblock %}
    
    
    {% block extra_css %}{% endblock %}


</head>
<body class="{% block body_class %}{% endblock body_class %}" {% block body_attr %}{% endblock body_attr %}>


{% block header %}
    <header>
        <div class="navbar-dark bg-dark">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'main_app:index' %}">{% trans "মূল পেইজ" %} <span class="sr-only">
                                    (current)</span></a>
                            </li>
                            
                            {# hcp = homepage context processor #}
                            {% for cat in hcp_categories %}
                                
                                {% if forloop.counter < hcp_limit %}
                                    <li class="nav-item">
                                        <a href="{{ cat.get_absolute_url }}" class="nav-link">{{ cat.name }}</a>
                                    </li>
                                {% elif forloop.counter == hcp_limit %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" data-hover="target">{% trans "আরও বিভাগ" %}</a>
                                        <div class="dropdown-menu" data-hover-show="result">
                                {% endif %}
                            
                                {% if forloop.counter >= hcp_limit %}
                                            <a class="dropdown-item" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                                {% endif %}
                                {% if forloop.last %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        
                        
                        </ul>
                        <ul class="navbar-nav top-social-ul">
    
                            {% for s in hcp_socials %}
                                <li class="nav-item active">
                                    <a href="#" class="btn btn-outline-success"><i class="{{ s }}"></i></a>
                                </li>
                            {% endfor %}
                            
                            <li class="nav-item active">
                                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'main_app:search' %}">
                                    
                                    <input
                                            class="form-control mr-sm-2"
                                            type="search"
                                            name="q"
                                            placeholder="{% trans "খুঁজুন" %}"
                                            aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0 top-search-btn" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    
                    </div>
                </nav>
            </div>
        </div>
        
        <div class="navbar-light bg-warning">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#collapsible_navbar" aria-controls="collapsible_navbar"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsible_navbar">
                        <div class="w-100">
                            <div class="navbar-nav">
                                <a class="navbar-brand mr-auto" href="{% url 'main_app:index' %}">
                                    {% comment %}<img src="{% static 'main_app/img/logo.png' %}" alt="logo">{% endcomment %}
                                    <h3 class="mb-0" style="line-height: 1">{% trans "লোগো" %}</h3>
                                </a>
                                <ul class="nav">
        
                                    {% for p in hcp_dummy_pages %}
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link" href="{% url 'main_app:coming_soon' %}">{{ p }}</a>
                                        </li>
                                    {% endfor %}
    
    
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link" href="{% url 'login' %}">{% trans 'লগইন' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}

<div id="main_container">
    {% block main_container %}{% endblock %}
</div>


{% block footer %}

{% endblock %}


{% block js %}
    
    <script src="{% static 'main_app/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'main_app/js/popper.min.js' %}"></script>
    <script src="{% static 'main_app/js/bootstrap.min.js' %}"></script>

{% endblock %}


{% block extra_js %}{% endblock %}


</body>
</html>