<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    
    
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="bani bd" name="author">
    {% endblock %}
    
    
    {% block extra_meta %}{% endblock %}
    
    
    {% block google_analytics %}{% endblock %}
    
    
    {% block google_tag_manager %}{% endblock %}
    
    
    <title>{% block title %}Welcome babe{% endblock title %}</title>
    
    
    {#    <link rel="shortcut icon" href="{% static 'main_app/img/favicon.ico' %}">#}
    
    
    {% block css %}
        <link rel="stylesheet" href="{% static 'main_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main_app/css/font-awesome.min.css' %}">
        
        <link rel="stylesheet" href="{% static 'main_app/css/custom.css' %}">
    {% endblock %}
    
    
    {% block extra_css %}{% endblock %}


</head>
<body class="{% block body_class %}{% endblock body_class %}" {% block body_attr %}{% endblock body_attr %}>


{% block header %}
    <header>
        <div class="navbar-dark bg-dark">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page 3</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-hover="target">More</a>
                                <div class="dropdown-menu" data-hover-show="result">
                                    <a class="dropdown-item" href="#">link 4</a>
                                    <a class="dropdown-item" href="#">link 5</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">link 6</a>
                                    <a class="dropdown-item" href="#">link 7</a>
                                    <a class="dropdown-item" href="#">link 8</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav top-social-ul">
                            <li class="nav-item active">
                                <a href="#" class="btn btn-outline-success"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="nav-item active">
                                <a href="#" class="btn btn-outline-success"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="nav-item active">
                                <a href="#" class="btn btn-outline-success"><i class="fa fa-youtube-play"></i></a>
                            </li>
                            <li class="nav-item active">
                                <a href="#" class="btn btn-outline-success"><i class="fa fa-soccer-ball-o"></i></a>
                            </li>
                            <li class="nav-item active">
                                <form class="form-inline my-2 my-lg-0">
                                    <input
                                            class="form-control mr-sm-2"
                                            type="search"
                                            placeholder="Search"
                                            aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0 top-search-btn" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    
                    </div>
                </nav>
            </div>
        </div>
        
        <div class="navbar-light bg-warning">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#collapsible_navbar" aria-controls="collapsible_navbar"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsible_navbar">
                        <div class="w-100">
                            <div class="navbar-nav justify-content-center">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">page0 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">page 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">page 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">page 4</a>
                                    </li>
                                </ul>
                                
                                <a class="navbar-brand" href="#">
                                    <img src="{% static 'main_app/img/logo.png' %}" alt="logo">
                                </a>
                                
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">page0 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">page 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">page 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">page 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}

<div id="main_container">
    {% block main_container %}{% endblock %}
</div>


{% block footer %}

{% endblock %}


{% block js %}
    <script src="{% static 'main_app/js/bootstrap.min.js' %}"></script>
{% endblock %}


{% block extra_js %}{% endblock %}


</body>
</html>