{% extends 'main_app/base.html' %}

{% block extra_css %}
    <style type="text/css">
    </style>
{% endblock %}


{% block main_container %}
    
    <section id="home_page_contents" class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8">
                    <div id="articles">
                        
                        {% for lp in latest_posts %}
                            <article class="card mb-3 bg-light">
                                <a href="{% url 'main_app:each_post' lp.id lp.slug %}" class="d-block article-link-media">
                                    <img src="{{ lp.img.url }}" alt="{{ lp.title }}" class="w-100"/>
                                </a>
                                <div class="card-footer mt-3">
                                    <a href="{% url 'main_app:each_post' lp.id lp.slug %}" class="d-block article-link-title">
                                        <h4 class="article-title">{{ lp.title }}</h4>
                                    </a>
                                    
                                    <p class="article-status">
                                        <a href="#" class="text-secondary"><span>28346 likes</span></a>
                                        <span>.</span>
                                        <a href="#" class="text-secondary"><span>3263 comments</span></a>
                                    </p>
                                    
                                    <ul class="nav article-actions">
                                        <li>
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="fa fa-heart"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="fa fa-commenting-o"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="fa fa-share-square-o"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        {% endfor %}
                    
                    </div>
                </div>
                
                <div class="col-md-3">
                    <aside class="sidebar text-center">
                        <div class="popular-post">
                            <h2>Popular Post</h2>
                            <ul class="nav row justify-content-md-center">
                                
                                {% for lp in latest_posts %}
                                    <li class="mb-4">
                                        <a href="{% url 'main_app:each_post' lp.id lp.slug %}" class="d-block">
                                            <div class="sidebar-img rounded-circle">
                                                <img
                                                        src="{{ lp.img.url }}"
                                                        alt="{{ lp.title }}"
                                                        class="{% if lp.img.width > lp.img.height %}mx-h{% else %}mx-w{% endif %}"
                                                />
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            
                            </ul>
                        </div>
                        
                        <hr>
                        
                        <div class="popular-categories">
                            <h2>Popular Categories</h2>
                            
                            {% for lp in latest_posts %}
                                <a
                                        href="{% url 'main_app:each_post' lp.id lp.slug %}"
                                        class="d-inline-block mb-2 border rounded border-secondary category-link"
                                >{{ lp.slug }}</a>
                            {% endfor %}
                        
                        </div>
                        
                        <hr>
                        
                        <div class="sidebar-search">
                            <form class="form-inline my-2 my-lg-0">
                                
                                <div class="input-group">
                                    <input
                                            type="search"
                                            class="form-control"
                                            placeholder="Search"
                                            aria-label="Search"
                                            aria-describedby="sidebar_search">
                                    <button type="submit" class="input-group-addon" id="sidebar_search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                
                            </form>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>

{% endblock %}