{% extends 'main_app/base.html' %}

{% load i18n comments %}

{% block main_container %}
    
    <section id="home_page_contents" class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8">
                    <div id="articles">
                        
                        {% if not posts %}
                            <h3 class="text-center">{% trans "দুঃখিত, কোন মিম খুঁজে পাওয়া যায় নি" %}
                                <span>
                                    <a href="{% url 'main_app:index' %}">{% trans "মূল পেইজে ফেরত যান" %}</a>
                                </span>
                            </h3>
                        {% endif %}
                        
                        {% for post in posts %}
                            <article class="card mb-3 bg-light">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-1 d-flex">
                                            <div class="align-self-center border border-dark rounded-circle user-img bg-warning">
                                                <i class="fa fa-user-o"></i>
                                            </div>
                                        </div>
                                        <div class="col-11 d-flex">
                                            <div class="align-self-center">
                                                <p class="card-title mb-0 font-italic"
                                                    >{{ post.user.username|default:"অশরীরী আত্মা" }}</p>
                                                <p class="card-subtitle mb-0 text-muted d-inline-block post-data"
                                                    >{{ post.publish_date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {# liked/not-liked icon will be showed from db #}
                                <button type="button" class="d-block article-media">
                                    <img src="{{ post.img.url }}" alt="{{ post.title }}" class="w-100"/>
                                </button>
                                <div class="card-footer mt-3">
                                    <a href="{{ post.get_absolute_url }}" class="d-block article-link-title">
                                        <h4 class="article-title">{{ post.title }}</h4>
                                    </a>
                                    
                                    <p class="article-status">
                                        <a href="javascript:void(0)" class="text-secondary">
                                            <span>{{ post.likes }}{% trans " পছন্দ" %}</span>
                                        </a>
                                        {% comment %}<span>.</span>
                                        <a href="javascript:void(0)" class="text-secondary">
                                            <span>{{ post.shares }}{% trans " বার শেয়ার" %}</span>
                                        </a>{% endcomment %}
                                        <span>.</span>
                                        {% get_comment_count for main_app.post post.id as comment_count %}
                                        <a href="{{ post.get_absolute_url }}#comment" class="text-secondary">
                                            <span>{{ comment_count }}{% trans " টি বক্তব্য" %}</span>
                                        </a>
                                    </p>
                                    
                                    <ul class="nav article-actions">
                                        <li>
                                            <button class="btn btn-outline-secondary like_btn" data-id="{{ post.id }}"
                                                    data-liked="{{ post.have_like }}" type="button">
                                                <i class="fa fa-heart"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="{{ post.get_absolute_url }}#comment" class="btn btn-outline-secondary">
                                                <i class="fa fa-commenting-o"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ post.get_absolute_url }}#share" class="btn btn-outline-secondary">
                                                <i class="fa fa-share-square-o"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        {% endfor %}
                    
                    </div>
                    
                
                
                
                
                
                
                
            {# pagination by debu #}
            {% comment %}{% if per_page_objs.paginator.num_pages > 1 %}
                <nav id="pagination">
                    <ul class="pagination">
            
                    <li class="{% if not per_page_objs.has_previous %}disabled{% endif %}">
                        <a {% if per_page_objs.has_previous %}
                            href="{% url 'outgoing:campaign'  per_page_objs.previous_page_number %}"
                        {% else %}
                            href="javascript:void(0)"
                        {% endif %}
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                
                    <li class="{% if per_page_objs.number == 1 %}disabled{% endif %}">
                        <a href="{% url 'outgoing:campaign' %}">Start</a>
                    </li>
            
                    {% for i in page_range %}
                        <li class="{% if per_page_objs.number == forloop.counter %}active{% endif %}">
                            <a href="{% url 'outgoing:campaign'  forloop.counter %}">{{ forloop.counter }}</a>
                        </li>
                    {% endfor %}
            
                
                    <li class="{% if per_page_objs.number == per_page_objs.paginator.num_pages %}disabled{% endif %}">
                        <a href="{% url 'outgoing:campaign' per_page_objs.paginator.num_pages %}">End</a>
                    </li>
                
                    <li class="{% if not per_page_objs.has_next %}disabled{% endif %}">
                        <a {% if per_page_objs.has_next %}
                            href="{% url 'outgoing:campaign' per_page_objs.next_page_number %}"
                        {% else %}
                            href="javascript:void(0)"
                        {% endif %}
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>
            {% endcomment %}
                
                
                
                
                
                
                
                
                {% if posts.paginator.num_pages > 1 %}
                    <nav id="pagination">
                        <ul class="pagination">
                            
                                <li class="page-item">
                                
                                    {% if posts.number == 1 %}
                                        <span class="page-link bg-light text-secondary">{% trans 'প্রথম' %}</span>
                                    {% else %}
                                        <a class="page-link" href="?page=1">{% trans 'প্রথম' %}</a>
                                    {% endif %}
                                    
                                </li>
                            
                            
                            {% for i in page_iter %}
                                {% if i == '...' %}
                                    <li class="page-item disabled">
                                    <span class="page-link">
                                        {{ i }}
                                        <span class="sr-only">(current)</span>
                                    </span>
                                    </li>
                                {% else %}
                                    <li class="page-item {% if i == current_page|add:"0" %}active{% endif %}">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        
                                <li class="page-item">
                                
                                    {% if posts.number == posts.paginator.num_pages %}
                                        <span class="page-link bg-light text-secondary">{% trans 'শেষ' %}</span>
                                    {% else %}
                                        <a class="page-link" href="?page={{ posts.paginator.num_pages }}">{% trans 'শেষ' %}</a>
                                    {% endif %}
                                    
                                </li>
                        </ul>
                    </nav>
                {% endif %}
                
                </div>
                
                <div class="col-md-3">
                    <aside class="sidebar text-center">
                        <div class="popular-post">
                            <h2>{% trans "জনপ্রিয় মিমগুলো" %}</h2>
                            <ul class="nav row justify-content-md-center">
                                
                                {% comment %}{% for post in posts|slice:":5" %}{% endcomment %}
                                {% for post in popular_posts %}
                                    {% if post.img %}
                                        <li class="mb-4">
                                            <a href="{{ post.get_absolute_url }}" class="d-block">
                                                <div class="sidebar-img rounded-circle">
                                                    <img
                                                            src="{{ post.img.url }}"
                                                            alt="{{ post.title }}"
                                                            class="{% if post.img.width > post.img.height %}mx-h{% else %}mx-w{% endif %}"
                                                    />
                                                </div>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            
                            </ul>
                        </div>
                        
                        <hr>
                        
                        <div class="popular-categories">
                            <h2>{% trans "জনপ্রিয় বিভাগগুলো" %}</h2>
                            
                            {% for cat in popular_cats %}
                                <a
                                        href="{{ cat.get_absolute_url }}"
                                        class="d-inline-block mb-2 border rounded border-secondary category-link"
                                >{{ cat.name }}</a>
                            {% endfor %}
                        
                        </div>
                        
                        <hr>
                        
                        <div class="sidebar-search">
                            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'main_app:search' %}">
                                
                                <div class="input-group">
                                    <input
                                            type="search"
                                            class="form-control"
                                            name="q"
                                            placeholder="{% trans "খুঁজুন" %}"
                                            aria-label="Search"
                                            aria-describedby="sidebar_search">
                                    <button type="submit" class="input-group-addon" id="sidebar_search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            
                            </form>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>

{% endblock %}



{% block extra_js %}
    
    {% if user.is_authenticated %}
        <script type="text/javascript">
            (function ($) {
                var like_post = function (_t) {
                    var post_id = _t.attr('data-id');
                    var is_liked = _t.attr('data-liked');

                    $.ajax({
                        url: '{% url 'main_app:like_post' %}',
                        method: 'GET',
                        data: {
                            "post_id": post_id,
                            "is_liked": is_liked,
                        },
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            _t.attr('data-liked', data['is_liked']);
                            liked_color(data['is_liked'], _t)
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                };

                var liked_color = function (_flag, _t) {
                    if (parseInt(_flag) === 1) {
                        _t.removeClass('btn-outline-secondary').addClass('btn-outline-danger')
                    } else {
                        _t.removeClass('btn-outline-danger').addClass('btn-outline-secondary')
                    }
                };

                $('.article-media').click(function (e) {
                    e.preventDefault();
                    var lk_btn = $(this).parent('article').find('.like_btn');
                    like_post(lk_btn);
                });

                $('.like_btn').click(function (e) {
                    e.preventDefault();
                    like_post($(this));
                }).each(function () {
                    var _this = $(this);
                    liked_color(_this.attr('data-liked'), _this);
                });

            })(jQuery);
        </script>
    {% endif %}
    
{% endblock %}