{% extends 'main_app/base.html' %}

{% load i18n comments %}

{% block keyword %}
    {% for cat in all_cats %}{{ cat.name }}, {% endfor %}
{% endblock %}

{% block main_container %}
    
    <section id="home_page_contents" class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-9">
                    <div id="articles">
                        
                        {% if not posts %}
                            <h3 class="text-center">{% trans "দুঃখিত, কোন মিম খুঁজে পাওয়া যায় নি" %}
                                <span>
                                    <a href="{% url 'main_app:index' %}">{% trans "মূল পেইজে ফেরত যান" %}</a>
                                </span>
                            </h3>
                        {% endif %}
                        
                        <div class="row row-eq-height">
                            {% for post in posts %}
                                {% if post.is_img_exists %}
                                    
                                    <div class="col-sm-6 mb-3" id="{{ forloop.counter }}9moja">
                                        <article class="card bg-white h-100 justify-content-between border border-dark">
                                            <div class="card-header bg-dark text-white">
                                                <div class="row">
                                                    <div class="col-3 d-flex">
                                                        <div class="align-self-center border border-dark rounded-circle user-img bg-warning">
                                                            <i class="fa fa-user-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-9 d-flex">
                                                        <div class="align-self-center">
                                                            <p class="card-title mb-0 font-italic"
                                                            >{{ post.user.username|default:"অশরীরী আত্মা" }}</p>
                                                            <p class="card-subtitle mb-0 text-muted d-inline-block post-data"
                                                            >{{ post.publish_date }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {# liked/not-liked icon will be showed from db #}
                                            {% comment %}<button type="button" class="d-block article-media">
                                                <img src="{{ post.img.url }}" alt="{{ post.title }}" class="w-100"/>
                                            </button>{% endcomment %}
                                            
                                            
                                            {# lightbox (not active now, using direct link on image) #}
                                            {# only simple link in image #}
                                            {% if post.nsfw and not request.user.is_authenticated %}
                                                <a class="text-center nsfw" target="_blank" href="{% url 'login' %}?next={{ post.get_absolute_url }}">
                                                    <h2>দুষ্টু পোস্ট</h2>
                                                    <p>দেখতে চাইলে লগইন করুন</p>
                                                </a>
                                            {% else %}
                                                <a class="d-block article-media" href="{{ post.get_absolute_url }}?from_page={{ posts.number }}">
                                                    <img src="{{ post.img.url }}" class="w-100"/>
                                                </a>
                                            {% endif %}
                                            {% comment %}<a class="lightbox d-block article-media" href="#9moja-{{ forloop.counter }}">
                                                <img src="{{ post.img.url }}" class="w-100"/>
                                            </a>
                                            <a class="lightbox-target" id="9moja-{{ forloop.counter }}"
                                                href="#{{ forloop.counter }}9moja">
                                                <img src="{{ post.img.url }}"/>
                                                <span class="lightbox-close" href="#{{ forloop.counter }}9moja"></span>
                                            </a>{% endcomment %}
                                            
                                            
                                            <div class="card-footer mt-3">
                                                <a href="{{ post.get_absolute_url }}?from_page={{ posts.number }}"
                                                   class="d-block article-link-title">
                                                    <span class="article-title">{{ post.title }}</span>
                                                </a>
                                                
                                                <p class="article-status">
                                                    <a href="javascript:void(0)" class="text-secondary">
                                                        <span><span class="article-status-liked_count">{{ post.likes }}</span>{% trans " পছন্দ" %}</span>
                                                    </a>
                                                    {% comment %}<span>.</span>
                                                    <a href="javascript:void(0)" class="text-secondary">
                                                        <span>{{ post.shares }}{% trans " বার শেয়ার" %}</span>
                                                    </a>{% endcomment %}
                                                    <span>.</span>
                                                    {% get_comment_count for main_app.post post.id as comment_count %}
                                                    <a href="{{ post.get_absolute_url }}#comment?from_page={{ posts.number }}"
                                                       class="text-secondary">
                                                        <span>{{ comment_count }}{% trans " টি বক্তব্য" %}</span>
                                                    </a>
                                                </p>
                                                
                                                <ul class="nav article-actions">
                                                    <li>
                                                        {% if user.is_authenticated %}
                                                            <button class="btn btn-outline-secondary like_btn" data-id="{{ post.id }}"
                                                                    data-liked="{{ post.have_like }}" type="button">
                                                                <i class="fa fa-heart"></i>
                                                            </button>
                                                        {% else %}
                                                            <a class="btn btn-outline-secondary" href="{% url 'login' %}?next={{ post.get_absolute_url }}" target="_blank">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        {% endif %}
                                                    
                                                    </li>
                                                    <li>
                                                        <a href="{{ post.get_absolute_url }}#comment?from_page={{ posts.number }}"
                                                           class="btn btn-outline-secondary">
                                                            <i class="fa fa-commenting-o"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ post.get_absolute_url }}#share?from_page={{ posts.number }}"
                                                           class="btn btn-outline-secondary">
                                                            <i class="fa fa-share-square-o"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    
                    </div>
                    
                    {% include 'main_app/snippets/pagination.html' %}
                
                </div>
                
                <div class="col-md-3">
                    
                    {% include 'main_app/snippets/sidebar.html' %}
                
                </div>
            </div>
        </div>
    </section>

{% endblock %}



{% block extra_js %}
    {% include 'snippets/liking-post.html' %}
{% endblock %}