{% extends 'main_app/base.html' %}


{% block main_container %}
    <section id="home_page_contents" class="section">
        <div class="container">
            <div class="row text-center">
                
                {% if result %}
                    
                    {% if result.posts %}
                        <h1 class="w-100">মিলে যাওয়া মিমগুলো</h1>
                        {% for post in result.posts %}
                            <div class="col-sm-4">
                                <a href="{{ post.get_absolute_url }}" class="d-block article-link-media">
                                    <img src="{{ post.img.url }}" alt="{{ post.title }}" class="w-100"/>
                                </a>
                            </div>
                            
                            {# simple bootstrap hack to make layout(3 col in each row) #}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="w-100 mb-3"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    {% if result.cats %}
                        <h1 class="w-100 mt-5">মিলে যাওয়া বিভাগগুলো</h1>
                        <div class="col">
                            {% for cat in result.cats %}
                                <a href="{{ cat.get_absolute_url }}" class="d-block">
                                    <h3>{{ cat.name }}</h3>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                
                
                {% else %}
                    <h1>দুষ্টুমি করো? <span><i class="fa fa-smile-o"></i></span></h1>
                    <h3>সন্ধ্যা হইসে, <span><a href="{% url 'main_app:index' %}">ঘরে ফিরে যাও</a></span></h3>
                {% endif %}
            
            </div>
        </div>
    </section>
{% endblock %}