{% extends 'main_app/base.html' %}

{% load comments i18n %}

{% block keyword %}
    {% for cat in post.get_categories %}{{ cat.category }}, {% endfor %} {{ post.title }},
{% endblock %}

{% block og_title %}বাংলার দেশী মিম - {{ post.title }}{% endblock %}
{% block og_type %}image.gallery{% endblock %}
{% block og_url %}{{ request.scheme }}://{{ request.get_host }}{{ post.get_absolute_url }}{% endblock %}
{% block og_img %}{{ request.scheme }}://{{ request.get_host }}{{ media_url }}{% endblock %}

{% block title %}{{ post.title }}{% trans " | নয়মজা" %}{% endblock title %}

{% block ime %}
    {% include "snippets/avro_js_plugin.html" %}
{% endblock %}

{% block main_container %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="/?page={{ from_page }}">
                    <h4 class="text-primary font-weight-bold mt-4 mb-4 d-inline-block back-to-home">
                        <i class="fa fa-arrow-left"></i> {% trans " আগের পেইজ" %}</h4>
                </a>
            </div>
            <div class="col-md-8">
                <article id="each-article" class="p-3 bg-white">
                    <h1>{{ post.title }}</h1>
                    <ul class="nav mb-2">
                        
                        {% for cat in post.get_categories %}
                            <li class="nav-item pr-2">
                                <a
                                        class="btn btn-outline-danger btn-sm"
                                        href="{{ cat.category.get_absolute_url }}">{{ cat.category }}</a>
                            </li>
                        {% endfor %}
                    
                    </ul>
                    <img class="w-100" src="{{ media_url }}" alt="{{ post.title }}">
                    
                    <div class="col-12">
                        
                        <div id="share" class="my-4 d-flex text-center row">
                            
                            <div id="fb" class="col-md-4">
                                <a
                                        class="text-white py-2 d-inline-block"
                                        href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                                        target="_blank"
                                ><i class="fa fa-facebook-f"></i> {% trans ' শেয়ার দিন' %}</a>
                            </div>
                            
                            <div id="gplus" class="col-md-4">
                                <a
                                        class="text-white py-2 d-inline-block"
                                        target="_blank"
                                        href="{{ share_urls.gp }}"
                                ><i class="fa fa-google-plus"></i>{% trans ' শেয়ার দিন' %}
                                </a>
                            </div>
                            
                            <div id="twt" class="col-md-4">
                                <a
                                        class="text-white py-2 d-inline-block"
                                        target="_blank"
                                        href="{{ share_urls.twt }}"
                                ><i class="fa fa-twitter"></i> {% trans ' করুন' %}</a>
                            </div>
                            
                            {% comment %}<iframe
                                    class="fb"
                                    src="{{ share_urls.fb }}"
                                    width="69"
                                    height="20"
                                    data-size="large"
                                    style="border:none;overflow:hidden"
                                    scrolling="no"
                                    frameborder="0"
                                    allowTransparency="true">
                            </iframe>{% endcomment %}
                        
                        </div>
                        
                        
                        {% if user.is_authenticated %}
                            {% get_comment_count for main_app.post post.id as comment_count %}
                            
                            <p class="text-secondary d-inline-block">
                                {{ post.likes }}{% trans ' টি' %}
                                <span class="text-danger"><i class="fa fa-heart"></i></span>
                            </p>
                            
                            <span class="mx-3">.</span>
                            
                            <p class="text-secondary d-inline-block">{{ comment_count }}{% trans ' টি মন্তব্য' %}</p>
                            
                            {% get_comment_list for main_app.post post.id as comment_list %}
                            {% for comment in comment_list %}
                                <div class="each-comment border border-dark p-2">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-1 pl-4 pr-0">
                                                    <i class="fa fa-comment-o text-warning"></i>
                                                </div>
                                                <div class="col comment_detail">
                                                    {{ comment.comment }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1 pl-4 pr-0">
                                                    <i class="fa fa-user-o text-primary"></i>
                                                </div>
                                                <div class="col comment_detail">
                                                    <i class="text-secondary">{{ comment.user_name }}</i>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 pl-4 pr-0">
                                                    <i class="fa fa-clock-o text-secondary"></i>
                                                </div>
                                                <div class="col align-items-center d-flex comment_detail comment_date">
                                                    {{ comment.submit_date }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                            
                            {% get_comment_form for main_app.post post.id as form %}
                            <!-- A context variable called form is created with the necessary hidden
                            fields, timestamps and security hashes -->
                            
                            <form action="{% comment_form_target %}" method="post" id="comment">
                                
                                {% csrf_token %}
                                
                                <input type="hidden" name="next" value="{{ request.build_absolute_uri }}#comment"/>
                                <input type="hidden" name="{{ form.content_type.name }}" value="main_app.post">
                                <input type="hidden" name="{{ form.object_pk.name }}" value="{{ post.id }}">
                                <input type="hidden" name="{{ form.security_hash.name }}" value="{{ form.security_hash.value }}">
                                <input type="hidden" name="{{ form.timestamp.name }}" value="{{ form.timestamp.value }}">
                                <input type="hidden" name="{{ form.name.name }}" value="{{ user.username }}">
                                
                                {% if user.email %}
                                    <input type="hidden" name="{{ form.email.name }}" value="{{ user.email }}">
                                {% else %}
                                    <div class="form-group">
                                        <label for="{{ form.email.name }}">{% trans 'ই-মেইল' %}</label>
                                        <input
                                                class="form-control bangla-na"
                                                type="email"
                                                id="{{ form.email.name }}"
                                                name="{{ form.email.name }}"
                                                placeholder="{% trans 'আপনার ইমেইল আইডি' %}"/>
                                    </div>
                                {% endif %}
                                
                                <div class="form-group">
                                    <label for="{{ form.comment.name }}">{% trans 'মন্তব্য' %}</label>
                                    <textarea
                                            class="form-control textarea"
                                            id="{{ form.comment.name }}"
                                            name="{{ form.comment.name }}"
                                            placeholder="{% trans 'আপনার মূল্যবান মন্তব্য দিন' %}"></textarea>
                                </div>
                                
                                <input type="submit" name="submit" value="{% trans "মন্তব্য করুন" %}" class="btn btn-primary">
                            </form>
                            
                            
                            {% comment %}<script type="text/javascript">
                                (function ($) {

                                    $('#comment').submit(function (e) {
                                        e.preventDefault();
                                        $.ajax({
                                            url: '{% comment_form_target %}',
                                            method: 'POST',
                                            data: {
                                                "{{ form.content_type.name }}": "main_app.post",
                                                "{{ form.object_pk.name }}": "{{ post.id }}",
                                                "{{ form.security_hash.name }}": "{{ form.security_hash.value }}",
                                                "{{ form.timestamp.name }}": "{{ form.timestamp.value }}",
                                                "{{ form.name.name }}": "{{ user.username }}",
                                                "{{ form.email.name }}": "{{ form.email.value }}",
                                                "{{ form.comment.name }}": "{{ form.comment.value }}",
                                            },
                                            success: function (data) {
                                                console.log(data);
                                            },
                                            error: function (e) {
                                                console.log(e);
                                            }
                                        });
                                    })

                                })(jQuery);
                            </script>{% endcomment %}
                        
                        {% else %}
                            <p>{% trans 'মন্তব্য দেখতে এবং করতে ' %}
                                <span><a href="{% url 'login' %}">{% trans 'লগইন' %}</a></span>
                                <span>{% trans ' করুন' %}</span>
                            </p>
                        {% endif %}
                    </div>
                </article>
            </div>
            
            <div class="col-md-4">
                
                {% include 'main_app/snippets/sidebar.html' %}
            
            </div>
        </div>
    </div>

{% endblock %}