{% load i18n %}

<footer class="bg-secondary d-flex">
    <div class="container py-2 footer-container">
        <div class="footer-navbar d-flex align-items-center">
            <a href="{% url 'terms' %}" class="btn btn-dark">{% trans "শর্তাবলী" %}</a>
        </div>
        <div class="copyright text-right d-inline-block">
            <p class="mb-0">{% trans 'নয়মজা ©২০১৭-২০১৮ সর্বস্বত্ব সংরক্ষিত' %}</p>
            <p class="mb-0">{% trans 'অন্যান্য সাইটের বিষয়ের  জন্য নয়মজা দায়ী নয়' %}</p>
        </div>
    </div>
</footer>