{% load i18n %}
{% comment %}

<div id="share" class="my-4 d-flex text-center row">
    
    <div id="fb" class="col-md-4">
        <a class="text-white py-2 d-inline-block w-100" href="{% url 'social:begin' 'facebook' %}">
            <i class="fa fa-facebook-f"></i>
            <span>{% trans "দিয়ে লগইন" %}</span>
        </a>
    </div>
    
    <div id="gplus" class="col-md-4" style="cursor: pointer">
        <span class="text-white py-2 d-inline-block w-100">
            <i class="fa fa-google-plus"></i>
            <span>{% trans ' দিয়ে লগইন' %}</span>
        </span>
    </div>
    
    <div id="twt" class="col-md-4">
        <a class="text-white py-2 d-inline-block w-100" href="{% url 'social:begin' 'twitter' %}">
            <i class="fa fa-twitter"></i>
            <span>{% trans ' দিয়ে লগইন' %}</span>
        </a>
    </div>


</div>{% endcomment %}
