{% extends 'dashboard/base.html' %}

{% load i18n %}

{% block ime %}
    {% include "snippets/avro_js_plugin.html" %}
{% endblock %}

{% block header %}
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:home' %}">{% trans 'ড্যাশবোর্ড' %}</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="text-capitalize">{{ type }}</span>
            <span class="font-italic">{{ form.title.value|default:"পোস্ট" }}</span>
        </li>
    </ol>

{% endblock header %}


{% block main_container %}
    {% block create_new_button %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col bg-custom border border-dark py-3 mt-3">
                
                <h3 class="text-success">{% trans "নতুন মিম পোস্ট করুন" %}</h3>
                
                <form class="form mt-4" method="post" enctype="multipart/form-data">
                    
                    {% csrf_token %}
                    
                    <div class="form-group border border-secondary p-2">
                        <label for="post_title">{% trans "মিমের নামঃ" %}</label>
                        <input
                                type="text"
                                class="form-control"
                                id="post_title"
                                name="{{ form.title.name }}"
                                value="{{ form.title.value|default:"" }}"
                                placeholder="{% trans "এখানে মিমের নাম দিন..." %}"
                        >
                    </div>
                    
                    <div class="form-group border border-secondary p-2">
                        <label class="mr-2">{% trans "মিমের ছবিটি এখানে আপলোড করুনঃ" %} {{ form.img.value|default:"" }}</label>
                        <input
                                type="file"
                                accept="image/*"
                                class="form-control input_file"
                                id="post_file"
                                name="{{ form.img.name }}"
                                value="{{ form.img.value|default:"" }}"
                        >
                        <br class="d-md-none">
                        <label for="post_file" class="btn btn-outline-danger rounded-0">
                            <i class="fa fa-upload"></i>
                            <span>{% trans "ছবি পছন্দ করুন" %}</span>
                        </label>
                        <span id="file_name"></span>
                    </div>
                    
                    
                    <div class="all-cat-ul border border-secondary p-2 mb-3">
                        
                        <p>{% trans "বিভাগ চিহ্নিত করুনঃ" %}</p>
                        
                        {# not included in modelform, handled customly #}
                        {% for c in all_categories %}
                            <span class="d-inline-block mr-2">
                                <input
                                        class="cat_input_chkbox"
                                        type="checkbox"
                                        name="{{ category_prefix }}{{ c.category.id }}"
                                        value="{{ c.category.id }}"
                                        id="{{ category_prefix }}{{ c.category.id }}"
                                        {% if c.has_category %}
                                        checked
                                        {% endif %}
                                >
                                <label
                                        class="cat_input_label btn btn-outline-dark btn-sm rounded-0"
                                        for="{{ category_prefix }}{{ c.category.id }}"
                                >{{ c.category }}</label>
                            </span>
                        {% endfor %}
                    
                    </div>
                    
                    <button type="submit" class="btn btn-primary mb-2">{% trans "পোস্ট দিন" %}</button>
                </form>
                
                <form method="post" id="add_cat_form" class="my-2">
                    
                    {% csrf_token %}
                    
                    <input type="text" name="new_cat" class="pl-2" placeholder="{% trans "নতুন বিভাগের নাম" %}">
                    <button type="submit" class="btn btn-dark btn-sm rounded-0">+নতুন বিভাগ যোগ করুন</button>
                </form>
            
            
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    
    <script type="text/javascript">
        (function ($) {
            $("#add_cat_form").submit(function (e) {
                e.preventDefault();

                var new_cat_input = $('input[name="new_cat"]');
                var json_data = {};
                json_data['new_cat'] = new_cat_input.val();
                json_data['post_id'] = "{{ post.id|default:None }}";
                {# if not editing, no post id will be delivered #}
                json_data['type'] = "{{ type }}";

                $.ajax({
                    url: '{% url 'dashboard:add_category' %}',
                    method: "post",
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(
                            "X-CSRFToken",
                            $.cookie('csrftoken')
                        );
                    },
                    data: json_data,
                    success: function (data) {
                        var html;

                        {# if any error raised, error msg will be shown #}
                        if (data["err"]) {
                            html =
                                '<span class="text-danger new_cat_error">' +
                                data["err"] +
                                '</span>'
                        } else {     {# show new created category if no error #}
                            html =
                                '<span class="d-inline-block mr-2">' +
                                '<input ' +
                                'class="cat_input_chkbox" ' +
                                'type="checkbox" ' +
                                'name="cat-' + data["id"] + '" ' +
                                'value="' + data["id"] + '" ' +
                                'id="cat-' + data["id"] + '" ' +
                                'checked' +
                                '> ' +
                                '<label ' +
                                'class="cat_input_label btn btn-outline-dark btn-sm rounded-0" ' +
                                'for="cat-' + data["id"] + '">' + data["name"] + '</label>' +
                                '</span>';

                            $('li.new_cat_error').remove();
                        }

                        $('.all-cat-ul').append(html);
                        new_cat_input.val("");
                    },
                    error: function (e) {
                        console.log("error hoise re bajan... " + e)
                    }
                })
            });

            var input_file = $('.input_file');
            input_file.on('change', function (e) {
                var label = $(this).next('label');
                var fileName = '';

                if (e.target.value)
                    fileName = e.target.value.split('\\').pop();

                if (fileName)
                    $('#file_name').html(fileName);
                console.log(fileName);
            });

            // Firefox bug fix
            input_file.on('focus', function () {
                $(this).addClass('has-focus');
            }).on('blur', function () {
                $(this).removeClass('has-focus');
            });
        })(jQuery)
    </script>
    
{% endblock %}