{% extends 'dashboard/base.html' %}


{% block header %}
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"><span class="text-capitalize">{{ type }}</span> <span class="font-italic"
        >{{ form.title.value }}</span></li>
    </ol>

{% endblock header %}


{% block main_container %}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="form" method="post" enctype="multipart/form-data">
                    
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="post_title">Post Title:</label>
                        <input
                                type="text"
                                class="form-control"
                                id="post_title"
                                name="{{ form.title.name }}"
                                value="{{ form.title.value }}"
                                placeholder="Enter Title here.."
                        >
                    </div>
                    
                    <div class="form-group">
                        <label for="post_file">File name: {{ form.img.value }}</label>
                        <input
                                type="file"
                                class="form-control"
                                id="post_file"
                                name="{{ form.img.name }}"
                                value="{{ form.img.value }}"
                        >
                    </div>
                
                    <ul>
                    
                        {# not included in modelform, handled customly #}
                        {% for c in all_categories %}
                            <li>
                                <input
                                        type="checkbox"
                                        {% comment %}name="cat-{{ forloop.counter }}"{% endcomment %}
                                        value="{{ c.category.id }}"
                                        id="cat-{{ forloop.counter }}"
                                        {% if c.has_category %}
                                            checked
                                        {% endif %}
                                >
                                <label for="cat-{{ forloop.counter }}">{{ c.category }}</label>
                            </li>
                        {% endfor %}
                    
                    </ul>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
                
            
            
            </div>
        </div>
    </div>

{% endblock %}