{% extends 'dashboard/base.html' %}

{% load i18n %}

{% block title %}{% trans 'নয় মজায় যোগ দিতে সাইন-আপ করুন' %}{% endblock title %}

{# not showing those #}
{% block header %}{% endblock %}
{% block header_logout %}{% endblock %}

{% block main_container %}
    <div class="container pt-5">
        <h2>{% trans ' সাইন আপ' %}</h2>
        
        {{ form.non_field_errors }}
        <form method="post">
            
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.username.name }}">{% trans 'আপনার ইউজারনেম' %}</label>
                <input
                        type="text"
                        class="form-control {% if form.username.errors %}border-danger{% endif %}"
                        name="{{ form.username.name }}"
                        id="{{ form.username.name }}"
                        value="{{ form.username.value|default:'' }}"
                        placeholder="{% trans 'ইউজারনেম *' %}">
                {{ form.username.errors }}
                {% comment %}{% if form.username.errors %}
                    <p class="text-danger">{% trans "নাম ছাড়া আপনাকে চিনবো কিভাবে?" %}</p>
                {% endif %}{% endcomment %}
            </div>
            
            <div class="form-group">
                <label for="{{ form.email.name }}">{% trans 'ইমেইল' %}</label>
                <input
                        type="email"
                        class="form-control {% if form.email.errors %}border-danger{% endif %}"
                        name="{{ form.email.name }}"
                        id="{{ form.email.name }}"
                        value="{{ form.email.value|default:'' }}"
                        placeholder="{% trans 'ইমেইল *' %}">
                {{ form.email.errors }}
                {% comment %}{% if form.email.errors %}
                    <p class="text-danger">{% trans " ঠিকঠাক ইমেইল না দিলে তো মহা বিপদ!" %}</p>
                {% endif %}{% endcomment %}
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.password1.name }}">{% trans 'পাসওয়ার্ড' %}</label>
                    <input
                            type="password"
                            class="form-control {% if form.password1.errors %}border-danger{% endif %}"
                            name="{{ form.password1.name }}"
                            id="{{ form.password1.name }}"
                            placeholder="{% trans 'পাসওয়ার্ড*' %}">
                    {{ form.password1.errors }}
                {% comment %}{% if form.password1.errors %}
                    <p class="text-danger">{% trans "আপনার গোপন জিনিসে সমস্যা আছে" %}</p>
                {% endif %}{% endcomment %}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.password2.name }}">{% trans 'পাসওয়ার্ড আবার দিন' %}</label>
                    <input
                            type="password"
                            class="form-control {% if form.password2.errors %}border-danger{% endif %}"
                            name="{{ form.password2.name }}"
                            id="{{ form.password2.name }}"
                            placeholder="{% trans 'আবার পাসওয়ার্ড দিন' %}">
                    {{ form.password2.errors }}
                    {% comment %}{% if form.password2.errors %}
                        <p class="text-danger">{% trans "আপনার গোপন জিনিস মিলে নাই" %}</p>
                    {% endif %}{% endcomment %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">{% trans ' সাইন আপ করুন' %}</button>
            
            <div class="">
                <label class="mt-2">{% trans ' ইতিমধ্যেই একাউন্ট আছে? তাহলে' %}</label>
                <a class="btn btn-success" href="{% url 'login' %}">{% trans 'লগইন করুন' %}</a>
                <div class="">
                    {% include 'snippets/social-auth-links.html' %}
                </div>
            </div>
        </form>
    
    </div>

{% endblock %}